html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
  }

  @media (min-width: 1400px) {
    .adaptive {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .adaptive article:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .adaptive article:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 5;
    }
    .adaptive article:nth-child(4) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(5) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }

  @media (min-width:700px) and (max-width:1399px) {
    .adaptive {
      display: grid; 
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .adaptive article:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(2) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(3) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end:3;
    }
    .adaptive article:nth-child(4) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .adaptive article:nth-child(5) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(6) {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .adaptive article:nth-child(7) {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .adaptive article:nth-child(8) {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .adaptive article:nth-child(9) {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
  @media (max-width:699px) {
    .adaptive{
      display: block;
    }
  }