html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 50px;
  justify-content: space-between;
  }

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  animation: shake 0.1s infinite alternate;
}
.content {
  display: flex;
  align-items: center;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: 1s ease;
  position: relative;
  display: flex;
}
a:hover {
 color: green;
}
button:hover {
  animation: none;
  background-color: green;
}
a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: green;
  position: absolute; 
  left: 50%;
  bottom: 0;
  transition: width 0.4s ease, left 0.4s ease;
}
a:hover::after{
  width: 100%;
  left: 0;
}
@keyframes shake {
  from {
    transform: translateX(0);
}
to {
    transform: translateX(10px);
}
}
.anim {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  margin-left: 10px;
  position: relative;
}

.border {
  height: 210px;
  border-radius: 25px;
  background-color: rgb(165, 162, 162);
  margin-left: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  }
  #ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(89, 183, 250);
  animation: shrink 4s;
  }
  #ball-container {
  width: 50px;
  height: 50px;
  animation: bounce 4s forwards ;
  }
  
  @keyframes shrink {
  0% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  15% {
      transform: scaleY(1);
      animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  20% {
    transform: scaleY(0.2);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  25% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  55% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  60% {
    transform: scaleY(0.4);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  65% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  95% {
    transform: scaleY(1);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  100% {
    transform: scaleY(0.6);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  }
  @keyframes bounce {
  0% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  20% {
    transform: translateY(160px);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  40% {
    transform: translateY(40px);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  60% {
    transform: translateY(160px);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  80% {
    transform: translateY(80px);
    animation-timing-function: cubic-bezier(.7,0,.9,.6);
  }
  100% {
    transform: translateY(160px);
    animation-timing-function: cubic-bezier(.6,.9,0,.7);
  }
  }
  
  .container {
    position: relative;
  }
  .newton-container {
    margin-left: 20px;
  }
  .pendulum {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .ball {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    transition: transform 0.5s ease;
  }
  
  #ball1 { 
    left: 10%; 
    animation: left 1s infinite ease-out; 
  }
  
  #ball2 { left: 30%; }
  #ball3 { left: 50%; }
  #ball4 { left: 70%; }
  #ball5 { left: 90%; }
  
  @keyframes left {
    0% { transform: translateX(0); }
    25% { transform: translateX(-50px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(0); }
    100% { transform: translateX(0); } 
  }
  
  @keyframes right {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    50% { transform: translateX(0); }
    75% { transform: translateX(50px); }
    100% { transform: translateX(0); } 
  }
  
  @keyframes center {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); } 
  }
  
  .ball:nth-child(2),
  .ball:nth-child(3),
  .ball:nth-child(4) {
    animation: center  1s infinite ; 
  }
  

  .ball:nth-child(5) {
    animation: right  1s infinite ; 
  }