@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', serif;
}
header {
    background-color: black;
    color: white;
    padding: 5px;
    height: fit-content;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    font-size: 32px;
}
header .menu {
    font-size: 20px;
    justify-content: space-between;
}
header .menu a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    margin-right: 10px;
}
main {
    padding: 10px;
}
.property {
    margin-bottom: 50px;
}
button {
    background-color:transparent;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding: 10px;
    margin-right: 10px;
    border: 3px solid rgb(167, 192, 227);
}
button.active {
    background-color:rgb(167, 192, 227) ;
}
.buttons {
    margin-top: 30px;
    margin-bottom: 50px;
}
.picture {
    border: 3px solid rgb(167, 192, 227);
    padding: 15px;
}
.squares {
    border: 1px solid rgb(216, 216, 216);
    display: flex;
}
.squares div {
    background-color:rgb(167, 192, 227) ;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.picture p{
    margin: 0;
}
.second-descrip::before{
    content:"Применяется ко: ";
    font-weight: 600;
}
h5 {
    margin-bottom: 10px;
}

#first-property.flex .squares {
    display: flex;
}
#first-property.inline-flex .picture {
    display: inline-flex;
}
#first-property.inline-flex .picture {
    display: inline-flex;
}
#second-property.row .squares {
    display: flex;
    flex-direction: row;
}
#second-property.row-reverse .squares {
    display: flex;
    flex-direction: row-reverse;
}
#second-property.column .squares {
    display: flex;
    flex-direction: column;
}
#second-property.column-reverse .squares {
    display: flex;
    flex-direction: column-reverse;
}
#third-property .squares{
    display: flex;
    align-items: flex-start;
}
#third-property .squares div {
    width: 40%;
}
#third-property.wrap .squares {
    flex-wrap: wrap;
}
#third-property.nowrap .squares {
    flex-wrap: nowrap;
}
#third-property.wrap-reverse .squares {
    flex-wrap: wrap-reverse;
}